//====== Books Page ======

.book-detail {
	background-color: $secondaryLight;
}
.book-details-page {
	h2{
		text-transform: uppercase;
	}
}
.img-column{
	img {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  		filter: grayscale(100%);
		width: 100%;
		height: auto;
		max-width: 400px;
		
	}
}

.bg-transparent {
	background-color: transparent !important;
}
