$body-bg: white;

$primary: #e1b31e;
$primaryLight: #ebcc65;
$primaryExtraLight: #fcecba;
$primaryDark: #c0960b;
$secondary: #b0b0b0;
$secondaryLight: #2b3a3d;
$secondaryDark: #1a1a1a;
$accentColor: #e1b31e;;
$accentColorDark: #947100;
$darkBlueBackground: #0f151f;

$bodyTextColor: #cbcbcb;
$bodyTextColorLight: white;
$bodyTextColorDark: black;
              
$navbar-dark-hover-color: #c0960b;
$navbar-light-hover-color:         #e1b31e;

$button-corner-radius: 4px;


$nav-link-color: white;
$nav-link-hover-color:  $accentColor;